<div class="card-body col">
  <div class="row justify-content-between">
    <h5 class="card-title col">{{ contact.name }}</h5>
    <button
      type="button"
      [disabled]="isDeleteLoading"
      class="btn btn-outline-danger mr-2"
      (click)="onDeleteClick()"
    >
      <span
        *ngIf="isDeleteLoading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      <i *ngIf="!isDeleteLoading" class="fas fa-trash-alt"></i> Delete
    </button>
    <button type="button" class="btn btn-warning mr-3" (click)="onEditClick()">
      <i class="fas fa-edit"></i> Edit
    </button>
  </div>
  <div class="row ml-0">
    {{ contact.phone }}
  </div>
  <div class="row ml-0">
    {{ contact.email }}
  </div>
</div>
