<div class="container">
  <div class="col">
    <div class="card mt-3">
      <div class="card-body">
        <form
          class="col"
          [formGroup]="contactForm"
          (ngSubmit)="onSaveClick($event)"
        >
          <div *ngIf="errorText != null" class="row">
            <div class="alert alert-danger col" role="alert">
              <i class="fas fa-info-circle"></i> {{ errorText }}
            </div>
          </div>
          <!-- Name -->
          <div class="form-group row">
            <label class="col-3 col-form-label text-right"
              >Full Name <span class="text-danger">*</span></label
            >
            <div class="col-9">
              <input
                type="text"
                placeholder="John Doe"
                class="form-control"
                [ngClass]="isNameInvalid ? 'is-invalid' : ''"
                formControlName="name"
              />
              <div *ngIf="isNameInvalid" class="invalid-feedback">
                <div *ngIf="name.errors?.required">Name is required.</div>
                <div *ngIf="name.errors?.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-group row">
            <label class="col-3 col-form-label text-right"
              >Email <span class="text-danger">*</span></label
            >
            <div class="col-9">
              <input
                type="text"
                placeholder="name@mail.com"
                class="form-control"
                [ngClass]="isEmailInvalid ? 'is-invalid' : ''"
                formControlName="email"
              />
              <div *ngIf="isEmailInvalid" class="invalid-feedback">
                <div *ngIf="email.errors?.required">Name is required.</div>
                <div *ngIf="email.errors?.email">Email is invalid.</div>
                <div *ngIf="emailInvalidText">
                  {{ emailInvalidText }}
                </div>
              </div>
            </div>
          </div>

          <!-- Phone -->
          <div class="form-group row">
            <label class="col-3 col-form-label text-right"
              >Phone <span class="text-danger">*</span></label
            >
            <div class="col-9">
              <input
                type="tel"
                placeholder="+95 9 1234 123"
                class="form-control"
                [ngClass]="isPhoneInvalid ? 'is-invalid' : ''"
                formControlName="phone"
              />
              <div *ngIf="isPhoneInvalid" class="invalid-feedback">
                <div *ngIf="phone.errors?.required">Name is required.</div>
                <div *ngIf="phone.errors?.minlength">
                  Phone must be at least 8 characters long.
                </div>
                <div *ngIf="phone.errors?.invalidPhone">
                  Phone number is invalid.
                </div>
                <div *ngIf="phoneInvalidText">
                  {{ phoneInvalidText }}
                </div>
              </div>
            </div>
          </div>

          <!-- Actions -->
          <div class="row-12 text-right">
            <button
              type="button"
              class="btn btn-outline-danger mr-2"
              (click)="onCancelClick($event)"
            >
              <i class="fas fa-times"></i> Cancel
            </button>
            <button
              type="submit"
              [disabled]="isLoading"
              class="btn btn-success"
              [disabled]="!contactForm.valid"
            >
              <span
                *ngIf="isLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <i class="fas fa-save"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
