<nav class="navbar navbar-dark" style="background-color: #1d91aa">
  <a routerLink="/contacts" class="navbar-brand"
    ><fa-icon [icon]="faAddressBook"></fa-icon> Contacts</a
  >
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <!-- Header -->
      <div class="row justify-content-between mt-3">
        <!-- Search Input group -->
        <div class="row col-5 justify-content-end">
          <input type="search" placeholder="Search" class="form-control" />
          <button type="button" class="btn bg-transparent position-absolute">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
          </button>
        </div>

        <!-- New Contact Button -->
        <button type="button" class="btn btn-success">
          <fa-icon [icon]="faPlus"></fa-icon> New Contact
        </button>
      </div>

      <!-- Body -->
      <div class="row">
        <div class="col">
          <div *ngFor="let contact of contactList" class="card row mt-3">
            <div class="card-body">This is some text within a card body.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
